@charset "UTF-8";

:root {
    --cor1: white;
    --cor2: black;
    --cor3: #49a09d;
    --cor4: #5f2c82;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: var(--cor4);
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

section {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    background-color: white;
    width: 200px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 30px black;

    transition: width .6s, height .6s;

}

.foto {
    background-image: url(imagens/pexels-scott-webb-1544946.jpg);
    background-size: cover;
    background-position: left bottom;
    height: 200px;
    overflow: hidden;
}
.formulario {
    padding: 5px;
}

h1 {
    margin: 5px 0;
    text-align: center;
}

p {
    text-align: center;
}

input {
    display: inline-block;
}

.botao {
    padding: 3px;
    margin: 5px 0;
}