@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    
}
body {
    background-color: rgb(255, 255, 255);
    width: 400px;
    margin: auto;
    border-radius: 10px;
}
table {
    border-collapse: collapse;
    border: 1px solid black;
    margin: auto;
    background-color: white;
}
td, th {
    border: 1px solid black;
    width: 50px;
    text-align: center;
    padding-inline: 10px;
}
.ex {
    width: 200px;
}

span#treinoa, span#treinob { 
    text-align: center;
    display: block;
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 7px;
    cursor: pointer;
}

span#treinoa:hover, span#treinob:hover {
    
    background-color: white;
    color: black;
}

menu {
    display: none;
}

menu > ul > li {
    background-color: rgb(108, 161, 108);
    border: 0.5px solid  rgb(53, 40, 40);
    text-align: center;
    padding: 3px;
    list-style-type: none;
}

menu > ul > li:hover {
    background-color: rgb(0, 70, 0);
    color: white;
}    

menu > ul > li > a {
    text-decoration: none;
    color: black;
    
}

menu > ul > li > a:hover {
    color: white;
    
}